h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}

* {
  font-family: var(--paragraph-font);
}
.modalButton{
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.availableDay{
  background-color: #f9ff5e;
}
.selectedDay{
  background-color: #20ff51;
}
header {
  box-sizing: border-box;
  width: 100%;
  height: min-content;
  background-color: #759c29;
  /* background-color: var(--nav-background-color); */
  display: flex;
  /* padding-right: 10em; */
  justify-content: center;

  h1 {
    display: flex; /* Flexbox로 설정 */
    align-items: center; /* 세로 중앙 정렬 */
    color: var(--headline-color-on-color);
    user-select: none;
    a{
      color: inherit;
      display: flex;
      align-items: center;
      text-decoration: none;
      font-family: inherit;
    }
  }
  a::before {
    content: ""; /* content는 반드시 설정해야 함 */
    display: inline-block; /* 요소를 인라인 블록으로 설정 */
    width: 5em; /* 이미지의 너비 */
    height: 5em; /* 이미지의 높이 */
    background-image: url("WhoAmI_transparent-.png"); /* 이미지 경로 */
    background-size: cover; /* 이미지 크기를 요소에 맞게 조정 */
    margin-right: 10px; /* 텍스트와 이미지 간의 간격 */
  }
}
main {
  box-sizing: border-box;
  width: 80%;
  margin: 0 auto;
  padding: 1em 5%;
  padding-bottom: 5em;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  section.calendar {
    h2{
      
      img{
        cursor: pointer;
      }
    }
    table {
      thead {
        td {
          text-align: center;
        }
      }
      td.today span{
        position: absolute;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        border: 2px solid red;
      }
      tbody td {
        width: 2em;
        height: 2em;
        text-align: start;
        vertical-align: top;
        border: 1px solid black;
        font-size: 1em;
        /* display: inline-block; */

        position: relative;
        cursor: pointer;
        margin: 1px;

      }
      tbody td:not(.disabled):hover {
        background-color: #20ff51;
      }
      tbody td:not(.disabled)::after {
        /* tooltip */
        content: attr(data-available-time);
        width: max-content;
        white-space: pre-line;
        position: absolute;
        left: 50%;
        bottom: 120%;
        transform: translateX(-50%);
        background-color: black;
        color: white;
        padding: 6px 10px;
        border-radius: 5px;
        font-size: 14px;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease-in-out;
      }
      tbody td:not(.disabled):hover::after {
        opacity: 1;
        visibility: visible;
      }
      tbody td.disabled {
        background-color: grey !important;
      }
    }
  }
  h3 {
    display: inline-block;
    margin-right: 1em;
    margin-bottom: 0em;

  }
  a {
    display: inline-block;
    background-color: var(--nav-background-color);
    padding: 0.1em 0.3em;
    border: 1px solid black;
    border-radius: 0.5em;
    font-size: 1em;
    color: black;
    text-decoration: none;
  }

  ul {
    margin: 0;
    padding: 0 1em;
    li:first-child{
      list-style: none;
      margin-left: -1em;
      font-weight: bold;
    }
  }

  form{
    input{
      width: 2.5em;
      -moz-appearance: textfield;
    }
    #meetingTime{
      width: 4em;
    }
    input::-webkit-inner-spin-button, input::-webkit-outer-spin-button{
      -webkit-appearance: none;
    }
  }
}
footer{
  width: 100%;
  padding: 2em 15%;
  box-sizing: border-box;
  background-color: rgb(92, 92, 92);
  color: white;
  h2{
    color: white;
  }
  a{
    color: white;
  }
  ul {
    padding-left: 0;
  }
}

dialog {
  border: none;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}